*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.big-column{
  width: 60%;
}
.small-column{
  width: 40%;
}
.big-grey{
  background-color: #f6f6f6;
}
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}
a{
  text-decoration: none;
}


/* header  */
header .topbar {
  background-color: #255EE9;
  height: 80px;
}
header .topbar .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#accedi{
  padding: 10px 17px;
  border-radius: 50px;
  border: none;
}

#accedi a{
  color: black;
}
#accedi:hover{
  background-color: lightgray;
}

.menu ul{
  list-style: none;
}

.menu ul li{
  padding: 0 15px;
}
.menu ul li:hover{
  text-decoration: underline;
  color: white;
}
.menu ul li a{
  text-decoration: none;
  color: black;
  color: white;
}
#jumbtron{
  height: 500px;
  background-color: #255EE9;
  justify-content: center;
  align-items: center;
  background-image: url(../img/jumbo.png);
  background-size: 100% 106%;
  flex-direction: column;
}
#jumbtron .content{
  width: 90%;
  max-width: 900px;
  text-align: center;
  color: white;
  margin-top: 30px;
}
.content h1{
  font-size: 45px;
  padding-bottom: 30px;
}
.content p{
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 15px;

}

.scarica {
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  margin-right: 20px;
  font-size: 20px;
}
.scarica a{
  color: black;
}
.scarica:hover{
  background-color: lightgrey;
}
#apri{
  padding: 15px 20px;
  background-color: #23272A;
  border-radius: 50px;
  border: none;
  font-size: 20px;
}
#apri a{
  color: white;
}
#apri:hover{
  background-color: rgb(68, 68, 68);
}
 
  /* main */
  .section-white{
    height: 650px;
  }
  .section-grey{
    height: 650px;
    background-color: #F6F6F6;
  }

  section .container .small-column h1{
    font-size: 2.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.3;
  }

  section .container .small-column p{
    font-size: larger;
    line-height: 1.5;
  }
  .big-grey{
    height: 1400px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: #F6F6F6;
  }
  .big-grey .container{
    justify-content: center;
    align-items: center;
  }
  .big-grey .container h1{
    font-size: 47px;
    margin-bottom: 30px;
  }
  .big-grey .container p{
    font-size: 20px;
    line-height: 1.5;
  }
  .big-grey .container img{
    width: 100%;
  }
  .stars{
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .stars .img-stars{
    width: 600px;
    height: 100px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    background-image: url(/img/stars.svg);
    background-size: 100% 50%;
    background-position: left;
  }

  .stars .scarica{
    background-color: #7288DA;
  }

  .stars .scarica a{
    color: white;
  }
  .stars .scarica:hover{
    background-color: #1e4cc1;
  }


  section,
  footer {
    padding: 40px 0;
  }
  section .container{
    height: 400px; /*debug*/ 
  }

  section:last-child .container{
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    
  }

  /* footer  */
  
  footer{ 
    height: 600px;
    color: white;
    background-color: #24272A;
  }

.footer-top{
  height: 400px;
}

.footer-top .social{
  width: 25%;
}

.footer-top .menu{
  width: 75%;
}

.footer-top .menu .col{
  flex-basis: 25%;
}
.footer-bottom{
  padding: 10px 0;
  justify-content: space-between;
}